.TitleAndSearchBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10em;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Title Title Title Title . SearchBar SearchBar SearchBar SearchBar SearchBar SearchBar";
    background-color: grey;
    margin-left: -.8rem;
    margin-top: -.8rem;
    margin-right: -.8rem;
    margin-bottom: 1.5rem;
  }
  
  .Title {
    grid-area: Title;
    font-size: 3rem;
    border: .3rem solid black;
    justify-self:start;
    margin-top: -3rem;
    background-color:darkslategrey
  }
  
  .SearchBar {
    grid-area: SearchBar;
    font-size: 2rem;
    padding: 0rem 1rem;
    border: .3rem solid black;
    background-color:darkslategrey;
    text-align: center;
    
    
    
  }

  #search{
    font-size:2rem;
    vertical-align: middle;
    margin-top: 2rem;
    width: 90%;
    height: 50%;
  }

  #searchIcon{
    vertical-align: middle;
    margin-top: 2rem;
  }
  

  