.recipeNavBar {
    display: grid;
    grid-template-columns: 24.9rem;
    grid-template-rows: 1fr;
    gap: 0em 0em;
    grid-auto-flow:row;
    grid-template-areas:
      "options";
    background-color: rgb(83, 83, 83);
    margin-left: -.8rem;
    margin-top: -1.5rem;
    margin-right: 1rem;
    height:auto;
    z-index: 1;
  }

  .optn{
    background-color:darkslategrey;
    color: black;
    font-size: xx-large;
    border: .3rem solid black;
    text-align: center;
    margin:-.1rem;
    cursor: pointer;
  }

  .options{
    position: relative;
    display: inline-block;
  }

  .options-content{
    display:none;
    position: absolute;
    text-align: center;
    border: .3rem solid black;
    background-color:darkslategrey;
    font-size: 3.5rem;
    min-width: 24.9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin:0rem -.3rem 0rem -.3rem;
  }

  .options-content a{
    color: black;
    text-decoration: none;
    display: block;
    
  }

  .options-content a:hover {
    color:white;
  }

  .options:hover .options-content{
    display: block;
  }

  .options:hover .optn{
    color: white;
  }

  .navBarLinks:link, .navBarLinks:visited{
    background-color:darkslategrey;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  .navBarLinks:hover, .navBarLinks:active{
    color:white;
  }


  .Recipes { 
    text-align: center;
    border: .3rem solid black;
    background-color:darkslategrey;
    margin:-.1rem;
    font-size: 3.5rem;
  }
  
  .button2 { 
    text-align: center;
    border: .3rem solid black;
    background-color:darkslategrey;
    margin:-.1rem;
  }
  
  .button3 {
    text-align: center;
    border: .3rem solid black;
    background-color:darkslategrey;
    margin:-.1rem;
  }
  
  .button4 { 
    text-align: center;
    border: .3rem solid black;
    background-color:darkslategrey;
    margin:-.1rem;
  }
  
  .button5 { 
    text-align: center;
    border: .3rem solid black;
    background-color:darkslategrey;
    margin:-.1rem;
  }
  
  .button6 { 
    text-align: center;
    border: .3rem solid black;
    background-color:darkslategrey;
    margin:-.1rem;
  }
  
  .button7 { 
    text-align: center;
    border: .3rem solid black;
    background-color:darkslategrey;
    margin:-.1rem;
  }
  
  .button8 { 
    text-align: center;
    border: .3rem solid black;
    background-color:darkslategrey;
    margin:-.1rem;
  }
  
  .button9 { 
    text-align: center;
    border: .3rem solid black;
    background-color:darkslategrey;
    margin:-.1rem;
  }
  
  .button10 { 
    text-align: center;
    border: .3rem solid black;
    background-color:darkslategrey;
    margin:-.1rem;
  }

  .recipeNavBar{
    border: .3rem solid black;
  }
  