<div class="recipeNavBar">
    <div class="Recipes">
        <h1>Recipes</h1>
    </div>
    <div class="button2">
        <h1>Button2</h1>
    </div>
    <div class="button3">
        <h1>Button3</h1>
    </div>
    <div class="button4">
        <h1>Button4</h1>
    </div>
    <div class="button5">
        <h1>Button5</h1>
    </div>
    <div class="button6">
        <h1>Button6</h1>
    </div>
    <div class="button7">
        <h1>Button7</h1>
    </div>
    <div class="button8">
        <h1>Button8</h1>
    </div>
    <div class="button9">
        <h1>Button9</h1>
    </div>
    <div class="button10">
        <h1>Button10</h1>
    </div>
  </div>