
.recipe-list-component{
    position:relative;
    border: .3rem solid black;
    align-self: center;
    justify-self: center;
    width: 126rem;
    height: auto;
    left: 24.5rem;
    top: -9.5rem;
    padding-bottom: .5rem;
    font-size:large;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Image Image Image Title Title Title Title Favorites Favorites"
      "Image Image Image Category Category Category Category Category Category"
      "Image Image Image Description Description Description Description Description Description";
      border: .3rem solid black;
  }
  
  .Title { 
      grid-area: Title; 
    }

  .title{
    cursor: pointer;
    user-select: none;
  }
  
  .Favorites { 
      grid-area: Favorites; 
      
    }

  .fav{
    cursor: pointer;
    user-select: none;
  }
  
  .Image { 
      grid-area: Image; 
      cursor: pointer;
      user-select: none;
    }
  
  .Description { 
      grid-area: Description;
      user-select: none;
    }
  
  .Category { 
      grid-area: Category; 
      user-select: none;
    }
  