<div class="recipe-list-component">
    <div class="container"  *ngFor="let recipe of recipeList">
        <div class="Title">
            <h1>{{recipe.title}}</h1>
        </div>
        <div class="Favorites">
            <img src={{recipe.favoriteButtons}} id={{recipe.id}} (click)="favoriting(recipe.id)">
        </div>
        <div class="Image">
            <img src={{recipe.image}}/>
        </div>
        <div class="Description">
            <p>{{recipe.description}}</p>
        </div>
        <div class="Category">
            <h2>{{recipe.category}}</h2>
        </div>
    </div>
</div>
